@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<h1>@Model.GetName()</h1>
<h3>Phone Number: @Model.GetPhone()</h3>

 @{
   var clientList = @Model.GetAllClients();
   var specialtyList = @Model.GetAllSpecialties();
 }
@if(clientList.Count == 0)
{
  <h5>@Model.GetName() has no clients!</h5>
}
@if(clientList.Count != 0)
{
  foreach(Client client in clientList)
  {
    <li><a href="/stylists/@Model.GetId()/clients/@client.GetId()"> Name: @client.GetName() , Phone: @client.GetPhone() </a></li>
  }
}
@if(specialtyList.Count == 0)
{
  <h5>@Model.GetName() has no specialties!</h5>
}
@if(specialtyList.Count != 0)
{
  foreach(Specialty specialty in specialtyList)
  {
    <li> Specialty: @specialty.GetSpec()</li>
  }
}
<a href="/stylists">Back</a>
<a href="/stylists/@Model.GetId()/edit">Edit This Stylist</a>
<a href="/stylists/@Model.GetId()/clients/new">New Client</a>
<form action="/stylists/destroy/@Model.GetId()" method="post">
  <button type="submit" class="btn btn-danger">Delete Stylist</button>
</form>
<form action="/stylists/@Model.GetId()/clients/destroy" method="post">
  <button type="submit" class="btn btn-danger">Delete All of this Stylists Clients</button>
</form>
